[Unit]
Description=Run ATP Todo GitHub Sync daily
Requires=atp-todo-github-sync.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target