[Unit]
Description=Run ATP Todo GitHub Sync daily
Requires=atp-todo-github-sync.service

[Timer]
OnCalendar=9:15
OnCalendar=*:00/4
Persistent=true

[Install]
WantedBy=timers.target