[Unit]
Description=Run cronwhip 5 minutes after startup
After=network.target
Wants=cronwhip-delay.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cronwhip

[Install]
WantedBy=multi-user.target
