[Unit]
Description=Run Metrics Providers Sync every 2 hours
Requires=metrics-providers-sync.service

[Timer]
OnCalendar=*-*-* 0/2:00:00
Persistent=true

[Install]
WantedBy=timers.target