[Unit]
Description=Run Money Fetch every 24 hours
Requires=money-fetch.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target