[Unit]
Description=Run Money Fetch every 12 hours
Requires=money-fetch.service

[Timer]
OnCalendar=0/12:00:00
Persistent=true

[Install]
WantedBy=timers.target