[Unit]
Description=Watches the darwin-tree file repo for changes and commits them

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/arjun/repos/github.com/arjungandhi/dot/scripts/autocommit /home/arjun/repos/github.com/arjungandhi/darwin-tree

[Install]
WantedBy=default.target
