[Unit]
Description=Watches the dot file repo for changes and commits them

[Service]
Type=simple
Restart=always
RestartSec=1
EnvironmentFile=/opt/monkey/services/env
ExecStart=$HOME/repos/github.com/arjungandhi/dot/scripts/autocommit $HOME/repos/github.com/arjungandhi/dot

[Install]
WantedBy=default.target
